@import '../../../../styles/_colors.scss';
@import '../../../../styles/_typography.scss';
@import '../../../../styles/_mixins.scss';

.ArticleItem {
  width: 260px;
  border-radius: 5px;
  background-color: $white;

  &:not(:last-child) {
    @include margin(null, 15px, null, null);
  }

  @include respond-x_large {
    &:last-child {
      @include margin(30px, 15px, null, null);
    }
  }

  @include respond-large {
    width: 300px;

    &:nth-of-type(3) {
      @include margin(30px, null, null, null);
    }
  }

  @include respond-medium {
    width: 350px;
    @include text-align(center);

    &:not(:last-child) {
      @include margin(0, 0, 30px, null);
    }

    &:last-child {
      @include margin(0, 0, null, null);
    }
  }

  .ArticleImg {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .ArticleBody {
    @include padding(25px, 25px, 25px, 25px);

    .ArticleAuthor {
      font-size: 12px;
      color: $grayishBlue;
    }

    .ArticleTitle {
      font-size: $fontSize;
      color: $darkBlue;
      font-weight: $normal;
      @include margin(12px, 0, 12px, 0);

      &:hover {
        color: $brightCyan;
        cursor: pointer;
      }
    }

    .ArticleText {
      font-size: 14px;
      color: $grayishBlue;
    }
  }
}
