@import '../../styles/_colors.scss';
@import '../../styles/_typography.scss';
@import '../../styles/_mixins.scss';

.Articles {
  @include padding(80px, 120px, 80px, 120px);
  background-color: $veryLightGray;

  @include respond-medium {
    @include text-align(center);
  }

  @include respond-x_small {
    @include padding(80px, 50px, 80px, 50px);
    @include text-align(center);
  }

  .ArticlesTitle {
    font-weight: $normal;
    color: $darkBlue;
  }
}
