@import '../../styles/_colors.scss';
@import '../../styles/_typography.scss';
@import '../../styles/_mixins.scss';

.HeroContainer {
  overflow: hidden;
  @include margin(null, null, -180px, null);

  @include respond-large {
    @include margin(null, null, 0, null);
  }

  .Hero {
    @include flex($display: flex);
    background-color: $veryLightGray;

    @include respond-large {
      @include flex($direction: column);
    }
  }
}

.HeroInfo {
  @include padding(140px, 40px, null, 120px);

  @include respond-large {
    order: 2;
    width: 80%;
    @include padding(20px, 0, 140px, 0);
    @include text-align(center);
    align-self: center;
  }

  @include respond-x_small {
    box-sizing: border-box;
    width: 100%;

    @include padding(null, 50px, null, 50px);
  }

  .HeroTitle {
    font-size: $fontSize * 3;
    @include text-align(left);
    font-weight: $normal;
    color: $darkBlue;

    @include respond-large {
      @include text-align(center);
      width: 500px;
      @include margin(null, auto, null, auto);
    }

    @include respond-x_small {
      width: 100%;
      font-size: $fontSize * 2;
    }
  }

  .HeroText {
    font-size: 20px;
    color: $grayishBlue;
    @include text-align(left);
    @include margin(0, 0, 40px, 0);

    @include respond-large {
      @include text-align(center);
    }

    @include respond-x_small {
      font-size: $fontSize;
    }
  }
}

.HeroBg {
  position: relative;
  height: 850px;
  width: 50%;
  background-image: url('../../assets/images/bg-intro-desktop.svg');
  background-repeat: no-repeat;
  background-position: top -260px left -70px;

  @include respond-large {
    order: 1;
    width: 100%;
    height: auto;
    background-image: url('../../assets/images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
  }

  .HeroImage {
    position: relative;
    right: -75px;
    top: -128px;
    z-index: 100;

    @include respond-large {
      position: static;
      grid-column: 2 / -2;
      width: 100%;
      @include margin(-283px, null, null, null);
    }

    @include respond-medium {
      @include margin(-241px, null, null, null);
    }

    @include respond-small {
      @include margin(-193px, null, null, null);
    }

    @include respond-x_small {
      @include margin(-154px, null, null, null);
    }
  }
}
