// Primary
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);

// Primary Lightened
$limeGreenLight: lighten(hsl(136, 65%, 51%), 15%);
$brightCyanLight: lighten(hsl(192, 70%, 51%), 15%);

// Neutral
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
