// Media Queries
@mixin respond-x_large {
  @media (max-width: 1350px) {
    @content;
  }
}

@mixin respond-large {
  @media (max-width: 1092px) {
    @content;
  }
}

@mixin respond-medium {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin respond-small {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin respond-x_small {
  @media (max-width: 620px) {
    @content;
  }
}

@mixin respond-large_nav {
  @media (min-width: 900px) {
    @content;
  }
}

// Other

@mixin text-align($position) {
  @if $position == 'left' {
    text-align: left;
  } @else if $position == 'center' {
    text-align: center;
  } @else if $position == 'right' {
    text-align: right;
  }
}

@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin flex(
  $display: null,
  $direction: null,
  $justify: null,
  $align: null,
  $wrap: null
) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin show {
  display: block;
}

@mixin hide {
  display: none;
}
