@import '../../styles/_mixins.scss';

.CardsContainer {
  @include margin(60px, null, null, null);

  .Cards {
    list-style: none;
    @include padding(0, 0, 0, 0);
    @include flex($display: flex, $justify: space-between, $wrap: wrap);
  }
}
