@import '../../../styles/_colors.scss';
@import '../../../styles/_typography.scss';
@import '../../../styles/_mixins.scss';

.CardItem {
  width: 264px;
  &:not(:last-child) {
    @include margin(null, 20px, null, null);
  }

  &:nth-of-type(3) {
    @include margin(null, null, 20px, null);
  }

  h2 {
    font-weight: $normal;
    @include margin(35px, 0, 25px, 0);
    color: $darkBlue;
  }

  p {
    font-size: 16px;
    color: $grayishBlue;
  }

  @include respond-x_large {
    width: 390px;

    &:last-child {
      @include margin(20px, 20px, null, null);
    }

    &:nth-of-type(3) {
      @include margin(20px, null, null, null);
      margin-top: 20px;
    }
  }

  @include respond-large {
    width: 300px;
  }

  @include respond-medium {
    width: 100%;

    &:not(:last-child) {
      @include margin(null, 0, 30px, null);
    }

    &:last-child {
      @include margin(null, 0, null, null);
    }
  }
}
