@import '../../../styles/_colors.scss';
@import '../../../styles/_typography.scss';
@import '../../../styles/_mixins.scss';

.Button {
  @include padding(14px, 35px, 14px, 35px);
  color: $white;
  background: linear-gradient(to right, $limeGreen, $brightCyan);
  border-radius: 25px;
  border: none;
  font-weight: $bold;
  font-family: $fontFamily;
  font-size: 16px;

  &:hover {
    cursor: pointer;
    background: linear-gradient(to right, $limeGreenLight, $brightCyanLight);
  }

  &.NavbarBtn {
    @include respond-medium {
      @include hide;
    }
  }
}
