@import '../../styles/_colors.scss';
@import '../../styles/_typography.scss';
@import '../../styles/_mixins.scss';

.About {
  @include padding(80px, 120px, 80px, 120px);
  @include text-align(left);
  background-color: $lightGrayBlue;
  position: relative;
  z-index: 10;

  @include respond-medium {
    @include text-align(center);
  }

  @include respond-x_small {
    @include padding(80px, 50px, 80px, 50px);
    @include text-align(center);
  }

  .AboutTitle {
    font-weight: $normal;
    font-size: $fontSize * 2;
    color: $darkBlue;
  }

  .AboutText {
    font-size: $fontSize;
    color: $grayishBlue;
    width: 65%;
    line-height: 1.5;

    @include respond-medium {
      width: 100%;
    }
  }
}
