@import '../../../../styles/_colors.scss';
@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_typography.scss';

.NavbarMenuItem {
  @include padding(25px, 0, 25px, 0);
  @include margin(null, 30px, null, null);
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, $limeGreen, $brightCyan);
    opacity: 0;
    transition: 0.4s ease-in-out;
  }

  &:hover,
  &:active {
    color: $darkBlue;
    cursor: pointer;
    &:before {
      opacity: 1;
    }
  }

  @include respond-medium {
    width: 100%;
    @include padding(0, 0, 0, 0);
    @include margin(null, 0, null, null);
    @include text-align(center);

    &:hover,
    &:active {
      &:before {
        opacity: 0;
      }
    }
  }

  .NavbarMenuItemLink {
    color: $grayishBlue;
    text-decoration: none;

    @include respond-medium {
      display: inline-block;
      width: 100%;
      color: $darkBlue;
      @include padding(12px, 0, 12px, 0);
    }
  }
}
