@import '../../styles/_colors.scss';
@import '../../styles/_mixins.scss';

.Navbar {
  @include flex($display: flex, $justify: space-around, $align: center);
  height: 69px;
  background-color: $white;

  @include respond-medium {
    @include flex($justify: space-between);
    @include padding(0, 40px, 0, 40px);
  }
}

.DesktopOnly {
  @include show;

  @include respond-medium {
    @include hide;
  }
}
