@import '../../../styles/_colors.scss';
@import '../../../styles/_mixins.scss';

.Dropdown {
  &::before {
    content: '';
    background-image: linear-gradient(
      to bottom,
      rgba(45, 49, 77, 1) 0%,
      rgba(45, 49, 77, 0) 100%
    );
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 69px;
    z-index: 200;
    opacity: 0.8;

    @include respond-large_nav {
      @include hide;
    }
  }

  &.Open {
    @include show;
  }

  &.Closed {
    @include hide;
  }

  .DropdownMenu {
    position: absolute;
    z-index: 300;
    background-color: $white;
    border-radius: 5px;
    width: 88%;
    height: auto;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);

    @include respond-large_nav {
      @include hide;
    }
  }
}
