@import '../../styles/_colors.scss';
@import '../../styles/_mixins.scss';

.Footer {
  background-color: $darkBlue;
  @include padding(50px, 120px, 50px, 120px);
  @include flex($display: flex, $justify: space-between, $align: flex-start);

  @include respond-large {
    @include flex($direction: column, $align: center);
  }

  @include respond-x_small {
    @include padding(null, 60px, null, 60px);
  }

  .FooterLeft {
    width: 50%;
    @include flex($display: flex, $justify: space-between);

    @include respond-x_large {
      width: auto;
      @include flex($justify: flex-start);
    }

    @include respond-large {
      @include flex($direction: column, $align: center);
      @include margin(null, null, 30px, null);
    }
  }
}

.SocialMedia {
  @include flex($display: flex, $direction: column, $justify: space-between);

  .Logo {
    & path[fill-rule='nonzero'] {
      fill: $white;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .SocialLinks {
    @include respond-large {
      @include margin(30px, null, null, null);
    }

    .SocialLink {
      display: inline-block;

      &:not(:first-child) {
        @include margin(null, null, null, 12px);
      }

      &:hover {
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(65%) sepia(91%)
          saturate(1490%) hue-rotate(153deg) brightness(93%) contrast(82%);
      }
    }
  }
}

.MenuNav {
  @include flex($display: flex, $justify: space-between);

  @include respond-x_large {
    margin-left: 100px;
  }

  @include respond-large {
    @include flex($direction: column, $align: center);
    @include text-align(center);
    @include margin(30px, null, null, 0);
  }

  .MenuNavLinks {
    list-style: none;
    @include margin(5px, null, 8px, null);
    @include padding(null, null, null, 0);
    color: $lightGrayBlue;

    &:first-child {
      @include margin(null, 120px, null, null);

      @include respond-large {
        @include margin(null, 0, null, null);
      }
    }

    .MenuNavItem {
      &:not(:last-child) {
        @include padding(null, null, 15px, null);
      }

      .MenuNavItemLink {
        text-decoration: none;
        color: $white;

        &:hover {
          color: $brightCyan;
          cursor: pointer;
        }
      }
    }
  }
}
