@import '../../../styles/_mixins.scss';

.ArticleItemsContainer {
  @include margin(60px, null, null, null);

  .ArticleItems {
    list-style: none;
    @include padding(0, 0, 0, 0);
    @include flex($display: flex, $justify: space-between, $wrap: wrap);

    @include respond-medium {
      @include flex($justify: center);
    }
  }
}
