@import '../../../styles/_mixins.scss';
@import '../../../styles/_colors.scss';

.NavbarMenu {
  @include flex($display: flex);
  list-style: none;
  @include padding(0, 0, 0, 0);
  @include margin(0, 0, 0, 0);

  @include respond-medium {
    @include flex($direction: column, $align: center);
    @include padding(20px, 0, 20px, 0);
  }
}
